<h2>Comentario</h2>
<p>
	<em><%= comment.author && comment.author.name || 'Sin autor' %></em>
</p>
<p>
	<%= comment.updatedAt.toLocaleDateString() %>
</p>
<p>
	<%- escapeText(comment.body) %>
</p>
<% if (session.user && ((session.user.id == comment.authorId)||(session.user.login == "admin"))) { %>
<form method="post" action="/posts/<%= post.id %>/comments/<%= comment.id %>">
			<input type="hidden" name="_method" value="delete">
			<a href="/posts/<%= post.id %>/comments/<%= comment.id %>/edit"> Editar </a>
			<button type='submit' class='btn btn-success'>
				Borrar
			</button>
		</form>
<% } %>
<a href="/posts/<%= post.id %>/comments"> Volver </a>