<section>
	<header>
		<h2> Usuarios <a href="/users/new" class="btn btn-large pull-right"> Crear nuevo usuario </a></h2>
	</header>
	<article>
		<table class="table">
			<tr>
				<th>Login</th>
				<th>Name</th>
				<th>Email</th>
				<th></th>
			</tr>
			<% for (var i in users) { %>
			<tr>
				<td> <%= users[i].login %> </td>
				<td> <%= users[i].name %> </td>
				<td> <%= users[i].email %> </td>
				<td>
				<form method="post" action="/users/<%= users[i].id %>">
					<input type="hidden" name="_method" value="delete">
					<a href="/users/<%= users[i].id %>"class='btn' > Ver </a>
					<% if (session.user && ((session.user.id == users[i].id)||(session.user.login == "admin"))) {%>
					<a href="/users/<%= users[i].id %>/edit"class='btn' > Editar </a>
					<button type='submit' class='btn btn-danger'> Borrar </button>
					<% } %>
				</form></td>
			</tr>
			<% }; %>
		</table>
	</article>
	<section>
