<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<link href="/stylesheets/bootstrap.css" type="text/css" rel="stylesheet">
		<style>
			body {
				padding-top: 120px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
		<link href="/stylesheets/bootstrap-responsive.css" type="text/css" rel="stylesheet">

		<script src="http://code.jquery.com/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<title>VideoGame Maniac</title>
	</head>
	<body>
		<header>
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="/">VideoGame Maniac</a>
						<div class="nav-collapse collapse">
							<ul class="nav">
								<li>
									<a href="/">Home</a>
								</li>
								<li>
									<a href="/posts">Posts</a>
								</li>
								<li>
									<a href="/users">Usuarios</a>
								</li>

								<% if (session.user) { %>
								<li>
									<a href="/users/<%= session.user.id %>/favourites"> Favoritos </a>
								</li>
								<% } %>
							</ul>
														<form class="navbar-form pull-right" id='logininfo'>
								<% if (session.user) { %>
								<a href='/logout' class="btn btn-danger">Logout</a>
								<% } else { %>
								<a href='/login?redir=/users' class="btn btn-success">Login</a>
								<a href='/users/new' class="btn">Register</a>
								<% } %>
							</form>
							<form class="navbar-form pull-right" action="/posts/search" method="post">
							<input type="text" class="search-query" placeholder="Search" name="query" />
						</form>
						</div>
					</div>

					<div class="pull-right">
						<% if (locals.paginate_view) { %>
						<%- paginate_view %>
						<% } %>
					</div>
				</div>
			</div>
			<section>
				<% var flash = flash() %>
				<% if (flash.info) { %>
				<article id="flashinfo">
					<h3>Información de interés:</h3>
					<ul>
						<% for (var i in flash.info) { %>
						<li>
							<%= flash.info[i] %>
						</li>
						<% } %>
					</ul>
				</article>
				<% } %>
				<% if (flash.success) { %>
				<article id="flashsuccess">
					<h3>Tareas completadas con éxito:</h3>
					<ul>
						<% for (var i in flash.success) { %>
						<li>
							<%= flash.success[i] %>
						</li>
						<% } %>
					</ul>
				</article>
				<% } %>
				<% if (flash.error) { %>
				<article id="flasherror">
					<h3>Errores encontrados:</h3>
					<ul>
						<% for (var i in flash.error) { %>
						<li>
							<%= flash.error[i] %>
						</li>
						<% } %>
					</ul>
				</article>
				<% } %>
			</section>

		</header>
		<hr />
		<div>
			<%- body %>
		</div>
		<hr />

		<footer>
			contador de visitas: <%= visitas %>
		</footer>
	</body>
</html>