<header>
	<h2> Posts </h2>
</header>
<% for (var i in posts) { %>
<article>
	<header>
		<h3><a href="/posts/<%= posts[i].id %>" class="titlelink"><%= posts[i].title %> </a></h3>
		
		<% if (session.user) { %>
			<form method="post" action="/users/<%= session.user.id %>/favourites/<%= posts[i].id %>">
			<% var isFavourite=false;
			var contad=0;
			console.log('1' +isFavourite);
			for(var j in favourites){
				contad++;
			console.log('contador ' +contad);
			console.log('3' +isFavourite);
				
        		if ((favourites[j].postId==posts[j].id) && (favourites[j].userId==session.user.id)) {
        			isFavourite = true;
        			break;
        		};
        	};
			console.log('2' +isFavourite);
        	if(isFavourite){ 
        		console.log('entra'); %>
			   	<input type="hidden" name="_method" value="delete" />
		     	<input type='image' onclick="submit();return false" src='/img/favourite.jpg' height=90 />
		    <% } else { 
        		console.log('NO entra'); %>
		     	<input type="hidden" name="_method" value="put" />
		     	<input type='image' onclick="submit();return false" src='/img/unfavourite.jpg' height=90 />
		    <% } %> 
			</form>
		<% } %>
		<em> <%= posts[i].author && posts[i].author.name || 'Sin autor' %> </em>
	</header>
	<p>
		<%= posts[i].body.slice(0,300) %> ...
	</p>
	<footer>
		<% if (session.user && ((session.user.id == posts[i].authorId)||(session.user.login == "admin"))) { %>
		<form method="post" action="/posts/<%= posts[i].id %>">
			<input type="hidden" name="_method" value="delete">
			<a href="/posts/<%= posts[i].id %>/edit"> Editar </a>
			<button type='submit' class='btn btn-success'>
				Borrar
			</button>
		</form>
		<% } %>
	</footer>
</article>
<% }; %>
<footer>
	<nav>
		<a href="/posts/new"> Crear nuevo Post </a>
	</nav>
	<br />
</footer>