<h2>Post</h2>
<article>
	<p>
		<b><%= post.title %></b>
		<% if (session.user) { %>
			<form method="post" action="/users/<%= session.user.id %>/favourites/<%= post.id %>">
			<% var isFavourite=false;
				for(var i in favourites){
            		if (favourites[i].userId==session.user.id) {
            			isFavourite = true;
            			break;
            		};
            	};
            	if(isFavourite){ %>
					<input type="hidden" name="_method" value="delete" />
			     	<input type='image' onclick="submit();return false" src='/img/favourite.jpg' height=90 />
			    <% } else { %>
			     	<input type="hidden" name="_method" value="put" />
			     	<input type='image' onclick="submit();return false" src='/img/unfavourite.jpg' height=90 />
			    <% } %> 
			</form>
		<% } %>
		<br />
		<em><%= post.author && post.author.name || 'Sin autor' %></em>
	</p>
	<p>
		<%= post.updatedAt.toLocaleDateString() %>
	</p>
	<p>

	</p>
	<% if (session.user && ((session.user.id == post.authorId)||(session.user.login == "admin"))) {%>
	<form method="post" action="/posts/<%= post.id %>">
			<input type="hidden" name="_method" value="delete">
			<a href="/posts/<%= post.id %>/edit"> Editar </a>
			<button type='submit' class='btn btn-success'>
				Borrar
			</button>
		</form>
	<% } %>
</article>
<hr />
<%- include ../attachments/index.ejs %>
<hr />
<%- include ../comments/index.ejs %>
<hr />
<% if (session.user) { %>
<blockquote>
	<%- include ../comments/new.ejs %>
</blockquote>
<hr />
<% } %>
<a href="/posts"> Volver al índice de Posts</a>